/*CSS reset - removes predefined margins,spacing,and padding of the browser kasi minsan iba sa chrome at firefox*/
{
	margin:0;
	paddings:0;
	box-sizing: border-box; /*sets width of a border box*/
	font-family: 'Fjalla One', sans-serif; /*sets default font for all elements in the browser if not defined*/
}

body {
	/*background-color: skyblue;*/
	background-image:url("../images/bg.jpg"); /*.. is used in relation kung saan yung file. pwede gamitin ulit para dumami*/
	background-repeat: no-repeat;  /*para di umulit yung background image;*/
	background-size: cover; /*covers the whole body element	;*/
	background-position:center; /*centers background*/
	height:100vh; /*vh means vertical height and it occupies the vertical height of the screen of the user*/
	background-image:linear-gradient(rgba(17,126,112,0.75),rbga(0,88,255,0.45));
	repeat:no-repeat;
	size:cover;
	position:center;
*/
 }



/*targets the element with the class name container*/

.container{
	width: 500px;
	margin:0 auto; /*centers the element horizontally*/
	text-align: center;
}

/*end container*/


/*targets the html element h1*/
h1 {
	
	color: white;  /*this changes the font color of the h1 elements*/
	background-color: rgba(51,51,51,0.5);
	text-transform: uppercase; /*ALL CAPS*/
	font-size: 50px; /*Changes font size*/
	letter-spacing: 3px; /*spacing between letters*/
	font-family: 'Rubik', sans-serif; /*changes font*/
	padding: 10px;
	margin-buttom: 15px;

}

/*end of h1 styling*/

/*start of h2 styling*/
h2
{
	color:white;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: rgba(51,51,51,0.5);
	margin-button: 15px; /*creates space outside the element*/
	padding: 10px; /*created space within the element*/
	font-family: 'Rubik', sans-serif; /*changes font*/
	border-radius: 10px;
}
/*end of h2 styling*/






/*targets the html element with the class attribute bio*/

.bio {
	font-size:15px;
	line-height: 20px;
	color: white;
	font-family: 'Rubik', sans-serif;
	background-color: rgba(51,51,51,0.5); /*In rgba, a is the background opacity*/
}

/*end bio*/



/*targets the html attribute id with a new value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius:20%; /*made borders round*/
	border-width: 5px; /*border with 5 pixels*/
	border-color: white; /*change color of border*/
	border-style: solid; /*makes the line of the border solid*/
	margin-top: 50pax;
	margin-buttom: 25px;
}
/*targets the html attribute id with a new value me*/

#me2 {
	height: 200px;
	width: 200px;
	border-radius:20%; /*made borders round*/
	border-width: 5px; /*border with 5 pixels*/
	border-color: white; /*change color of border*/
	border-style: solid; /*makes the line of the border solid*/
	margin-top: 50pax;
	margin-buttom: 25px;
}

#fb {
	height: 50px;
	width: 50px;
	border-radius:10%; /*made borders round*/
	border-width: 1px; /*border with 5 pixels*/
	border-color: white; /*change color of border*/
	border-style: solid; /*makes the line of the border solid*/
	margin-top: 50pax;
	margin-buttom: 25px;
}